@import "tailwindcss";

@theme {
  --color-primary: #10B981;
  --color-secondary: #0ea5e9;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-light);
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
